
<div class="main-content" style="font-weight: 500;">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">

              <div class="card">
                  <div class="card-header card-header-danger ">
                      <h4 class="card-title " style="font-weight: bold;">Danh sách khóa học</h4>
                      <button class="btn btn-default" style="background-color: #ffffff;" (click)="changeTab()">
                        <p style="color: #000000; margin-bottom: 0px;">Thêm +</p>
                      </button>
                      <div class="container" *ngIf="change && !editproduct" style="background-color: #ffffff;">
                        <form [formGroup]="addProductFrm" >
                          <div class="form-group">
                            <label  class="label-text">Name:</label>
                            <input type="text" class="form-control" formControlName="name">
                          </div>
                          <div class="form-group">
                            <label class="label-text">Author:</label>
                            <input type="text" class="form-control" id="" formControlName="author">
                          </div>
                          <div class="form-group">
                            <label class="label-text">Descripton:</label>
                            <input type="text" class="form-control" id="" formControlName="description">
                          </div>
                          <div class="form-group">
                            <label class="label-text">Price:</label>
                            <input type="text" class="form-control" id="" formControlName="price">
                          </div>
                          <div class="form-group">
                            <label class="label-text">Link:</label>
                            <input type="text" class="form-control" id="" formControlName="link">
                          </div>
                          <div class="form-row">
                            <label class="label-text">ImageUrl:</label>
                            <div class="">
                                <input type="file" class="form-control input-file-upload customize-file-input" id="product_image" formControlName="imageProduct" accept="image/png, image/jpeg" (change)="onFileChange($event)"/>
                                <!-- <div [innerHTML]="uploadError" class="error"></div> -->
                                <div *ngIf="imagePath">
                                  <br />
                                  <img [src]="imagePath" width="100px">
                                </div>
                              </div>
                          </div>
                        </form>
                        <button type="button" class="btn btn-secondary" style="background-color:#a6a6a6;" (click)="createProduct()">Create</button>
                        <button type="button" class="btn btn-secondary" style="background-color:#a6a6a6;" (click)="changeTab()">Cancel</button>
                      </div>
                      <div class="container" *ngIf="editproduct" style="background-color: #ffffff;">
                        <form [formGroup]="editProductFrm" >
                          <div class="form-group">
                            <label  class="label-text">Name:</label>
                            <input type="text" class="form-control" formControlName="name">
                          </div>
                          <div class="form-group">
                            <label class="label-text">Author:</label>
                            <input type="text" class="form-control" id="" formControlName="author">
                          </div>
                          <div class="form-group">
                            <label class="label-text">Descripton:</label>
                            <input type="text" class="form-control" id="" formControlName="description">
                          </div>
                          <div class="form-group">
                            <label class="label-text">Price:</label>
                            <input type="text" class="form-control" id="" formControlName="price">
                          </div>
                          <div class="form-group">
                            <label class="label-text">Link:</label>
                            <input type="text" class="form-control" id="" formControlName="link">
                          </div>
                          <div class="form-row">
                            <label class="label-text">ImageUrl:</label>
                            <div class="">
                                <input type="file" class="form-control input-file-upload customize-file-input" id="product_image" formControlName="imageProduct" accept="image/png, image/jpeg" (change)="onFileChangeEdit($event)"/>
                                <!-- <div [innerHTML]="uploadError" class="error"></div> -->
                                <div *ngIf="imagePath">
                                  <br />
                                  <img [src]="imagePath" width="100px">
                                </div>
                              </div>
                          </div>
                        </form>
                        <button type="button" class="btn btn-secondary" style="background-color:#a6a6a6;" (click)="saveProductEdit()">Update</button>
                        <button type="button" class="btn btn-secondary" style="background-color:#a6a6a6;" (click)="closeEdit()">Cancel</button>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                         <i style="font-size: 20px;font-weight: bold;" class="fa fa-search"></i>&nbsp;&nbsp;<input type="text" [(ngModel)]="searchText" placeholder="Tìm kiếm" style="width: 400px;">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th style="font-size: 18px; text-align: center; font-weight: bold;">
                                      ID
                                  </th>
                                  <th style="font-size: 18px; text-align: center; font-weight: bold;">
                                      Name
                                  </th>
                                  <th style="font-size: 18px; text-align: center; font-weight: bold;">
                                      Author
                                  </th>
                                  <th style="font-size: 18px; text-align: center; font-weight: bold;">
                                      Description
                                  </th>
                                  <th style="font-size: 18px; text-align: center; font-weight: bold;">Price</th>
                                  <th style="font-size: 18px; text-align: center; font-weight: bold;">Link</th>
                                  <th style="font-size: 18px; text-align: center; font-weight: bold;">imageUrl</th>
                                  
                              </thead>
                              <tbody *ngFor= "let product of productItems | filter:searchText | paginate: {itemsPerPage: 6,currentPage:page}">
                                  <tr>
                                      <td>
                                           {{product._id}}
                                      </td>
                                      <td>
                                          {{product.name}}
                                      </td>
                                      <td>
                                          {{product.author}}
                                      </td>
                                      <td>
                                          {{product.description}}
                                      </td>
                                      <td>{{product.price | currency:'VND':'symbol'}}</td>
                                      <td>{{product.link}}</td>
                                      <td><img style="width: 160px;" [src]="product.imageUrl" class="avatar"></td>
                                      <td>
                                        <!-- <a  (click)="changeTab()" style="font-size: 20px;"><i class="fa fa-plus-square-o"></i></a> -->
                                        <a (click)="editProductForm(product)"  style="font-size: 20px; margin-right: 10px;"><i class="fa fa-pencil-square-o"></i></a>
                                        <a  style="font-size: 20px;"><i class="fa fa-trash-o" (click)="remove(product._id)"></i></a>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                          
                          <div style="margin-left: 550px;">
                            <pagination-controls  (pageChange)="page = $event"></pagination-controls>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


