
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger ">
                      <h4 class="card-title ">Danh sách hóa đơn</h4>
                      
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary" >
                                  <th>
                                      ID
                                  </th>
                                
                                  <th>
                                      UserID
                                  </th>
                                  <th>
                                      Time updated
                                  </th>
                                  <th>Time created</th>
                                  <th>Status</th>
                              </thead>
                              <tbody *ngFor= "let order of orderList">
                                  <tr >
                                      <td>
                                          {{order._id}}
                                      </td>
                                      
                                      <td>
                                          {{order.userId}}
                                      </td>
                                      <td>
                                          {{order.updated_at}}
                                      </td>
                                      <td>{{order.created_at}}</td>
                                      <td>{{order.status}}</td>
                                      <td>
                                      
                                        <a  style="font-size: 20px; margin-right: 30px;" ><i class="fa fa-trash-o" (click)="remove(order._id)"></i></a>
                                        <button type="button" class="btn btn-danger" style="margin-right: 30px;" (click)="confirmOrder(order._id)">Confim</button>
                                        <button type="button" class="btn btn-warning" (click)="loadDetailOrders(order.products)">View</button>
                                      </td>
                                  </tr>
                                  <div *ngIf="listOrderDetail == order.products" style="padding: 0px 0px 0px 0px;">
                                    <div *ngFor="let item of listOrderDetail">
                                      <tr >
                                        <td><img style="width: 160px;" [src]="item.product.imageUrl"></td>
                                        <td style="padding: 0px 30px;">{{ item.product.name }}</td>
                                        <td>{{ item.product.author }}</td>
                                        <td>{{ item.product.price }}</td>
                                      </tr>
                                    </div>
                                  </div>
                                  
                              </tbody>
                              
                          </table>
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
