<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger ">
                      <h4 class="card-title ">Danh sách khách hàng</h4>
                      
                      <div class="container" *ngIf="change" style="background-color: #ffffff;">
                        <form>
                          <div class="form-group">
                            <label  class="label-text">Name:</label>
                            <input type="text" class="form-control" >
                          </div>
                          <div class="form-group">
                            <label class="label-text">Author:</label>
                            <input type="text" class="form-control" id="">
                          </div>
                          <div class="form-group">
                            <label class="label-text">Descripton:</label>
                            <input type="text" class="form-control" id="">
                          </div>
                          <div class="form-group">
                            <label class="label-text">Price:</label>
                            <input type="text" class="form-control" id="">
                          </div>
                          <div class="form-group">
                            <label class="label-text">ImageUrl:</label>
                            <input type="text" class="form-control" id="">
                          </div>
                        </form>
                        <button type="button" class="btn btn-secondary" style="background-color:#a6a6a6;">Creat</button>
                        <button type="button" class="btn btn-secondary" style="background-color:#a6a6a6;">Cancel</button>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Email
                                  </th>
                                
                                  
                              </thead>
                              <tbody *ngFor= "let user of userList">
                                  <tr>
                                      <td>
                                          {{user._id}}
                                      </td>
                                      <td>
                                          {{user.fullName}}
                                      </td>
                                      <td>
                                          {{user.email}}
                                      </td>
                                      <td>
                                        <a  style="font-size: 20px; margin-right: 10px;"><i class="fa fa-pencil-square-o"></i></a>
                                        <a  style="font-size: 20px;"><i class="fa fa-trash-o" (click)="remove(user._id)"></i></a>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
