<app-header></app-header>
<section class="secion section-map">
	<div class="container-fluid">
		<div class="row d-flex align-items-center">
			<div class="col-sm-6 center text-center " style="margin-top: 50px;">
				<div class="center__title mt-4 mt-lg-0 mb-6" style="font-size: 2.25rem;line-height: 2.5rem;font-weight: 500;color: #209ad6;">Apollo Nguyễn Hữu Thọ Đà Nẵng</div>
				<h3 class="center__des mb-2" style="color: #209ad6;">189 Nguyễn Hữu Thọ, Hòa Thuận Tây, Hải Châu, Đà Nẵng</h3>
				<p class="center__phone" style="color: #209ad6;">0236 7 300 036</p>
			</div>
			<div class="col-sm-6 mt-5 mg-lg-0">
				<img src="../../../../assets/img/apollo-n-web.png" alt="" style="width: 102%;">
			</div>
		</div>
	</div>
</section>
<section class="secion section-map">
	<div class="container-fluid">
		<div class="row d-flex align-items-center">
			<div class="col-sm-6 mt-5 mg-lg-0">
				<img src="../../../../assets/img/pvh-web-2.jpg" alt="" style="width: 102%;">
			</div>
			<div class="col-sm-6 center text-center " style="margin-top: 50px;">
				<div class="center__title mt-4 mt-lg-0 mb-6" style="font-size: 2.25rem;line-height: 2.5rem;font-weight: 500;color: #209ad6;">TRUNG TÂM APOLLO PHAN VĂN HỚN</div>
				<h3 class="center__des mb-2" style="color: #209ad6;">229 Phan Văn Hớn, Phường Tân Thới Nhất, Quận 12, TPHCM</h3>
				<p class="center__phone" style="color: #209ad6;">028.7300 6698 – 028.7109 9509</p>
			</div>
			
		</div>
	</div>
</section>
<section class="secion section-map">
	<div class="container-fluid">
		<div class="row d-flex align-items-center">
			<div class="col-sm-6 center text-center " style="margin-top: 50px;">
				<div class="center__title mt-4 mt-lg-0 mb-6" style="font-size: 2.25rem;line-height: 2.5rem;font-weight: 500;color: #209ad6;">TRUNG TÂM APOLLO TỪ SƠN</div>
				<h3 class="center__des mb-2" style="color: #209ad6;">Tầng 3 tòa nhà Long Phương, số 374 - 376 Trần Phú, Từ Sơn, Bắc Ninh</h3>
				<p class="center__phone" style="color: #209ad6;">(0222)7306088</p>
			</div>
			<div class="col-sm-6 mt-5 mg-lg-0">
				<img src="../../../../assets/img/tuson-web.png" alt="" style="width: 102%;">
			</div>
		</div>
	</div>
</section>
<section class="secion section-map" style="margin-bottom: 40px;">
	<div class="container-fluid">
		<div class="row d-flex align-items-center">
			<div class="col-sm-6 mt-5 mg-lg-0">
				<img src="../../../../assets/img/apollo-adshn.png" alt="" style="width: 102%;">
			</div>
			<div class="col-sm-6 center text-center " style="margin-top: 50px;">
				<div class="center__title mt-4 mt-lg-0 mb-6" style="font-size: 2.25rem;line-height: 2.5rem;font-weight: 500;color: #209ad6;">TRUNG TÂM APOLLO HÀO NAM</div>
				<h3 class="center__des mb-2" style="color: #209ad6;">Tầng 2, tòa nhà NHS Center, 214 Hào Nam, phường Cát Linh, quận Đống Đa, Hà Nội</h3>
				<p class="center__phone" style="color: #209ad6;">02473003878</p>
			</div>
			
		</div>
	</div>
</section>
<app-footer></app-footer>
