<app-header></app-header>
<div>
	<div>
		<div>
			<img style="width: 100%;" src="../../../../assets/img/banner_2.png" alt="">
		</div>
	</div>
</div>
<section style="margin-bottom: 60px;">
	<div class="container">
		<h2 style="color: #209ad6;text-align: center;margin-top: 60px;font-weight: bold;font-size: 40px;">6 lí do chọn Apollo</h2>
		<div class="row">
			<div class="col-lg-6">
				<div class="d-flex section-introduce__item px-8 py-10 mt-5">
					<div class="section-introduce__item-left pr-5">
						<span>1</span>
					</div>
					<div class="section-introduce__item-right">
						<h2 style="font-size: 30px;font-weight: bold;">KINH NGHIỆM GIẢNG DẠY HƠN 20 NĂM</h2>
						<p style="font-weight: 500;font-size: 20px;">Trung tâm Anh ngữ Apollo được thành lập năm 1995 với chất lượng giảng dạy đã được kiểm chứng qua các giải thưởng danh giá của Bộ Giáo Dục và Đào Tạo và Chính phủ Anh. Apollo còn là thành viên thuộc International House, tổ chức quốc tế về tiêu chuẩn giảng dạy tiếng Anh với hơn 60 năm kinh nghiệm.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="d-flex section-introduce__item px-8 py-10 mt-5">
					<div class="section-introduce__item-left pr-5">
						<span>2</span>
					</div>
					<div class="section-introduce__item-right">
						<h2 style="font-size: 30px;font-weight: bold;">GIẢNG DẠY THEO TIÊU CHUẨN QUỐC TẾ</h2>
						<p style="font-weight: 500;font-size: 20px;">Các khóa học Tiếng Anh tại Apollo được thiết kế theo chuẩn CEFR, và các bài kiểm tra theo chuẩn CAMBRIDGE, cùng giáo trình hợp tác độc quyền với National Geographic. Nội dung đa dạng đến từ nhiều quốc gia giúp học viên hứng thú học và tìm hiểu văn hoá các nước để trở thành công dân toàn cầu.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="d-flex section-introduce__item px-8 py-10 mt-5">
					<div class="section-introduce__item-left pr-5">
						<span>3</span>
					</div>
					<div class="section-introduce__item-right">
						<h2 style="font-size: 30px;font-weight: bold;">ĐỘI NGŨ GIẢNG VIÊN 100% NƯỚC NGOÀI</h2>
						<p style="font-weight: 500;font-size: 20px;">Các giảng viên tại Apollo đều có 2 chuẩn bằng cấp: tốt nghiệp Đại học, chứng chỉ CELTA, và trải qua ít nhất 60 giờ đứng lớp thực tế. Chất lượng giáo viên được theo dõi, kiểm định, và nâng cao không ngừng qua các chương trình đào tạo và các bài kiểm tra định kỳ.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="d-flex section-introduce__item px-8 py-10 mt-5">
					<div class="section-introduce__item-left pr-5">
						<span>4</span>
					</div>
					<div class="section-introduce__item-right">
						<h2 style="font-size: 30px;font-weight: bold;">ĐẢM BẢO VỀ CHẤT LƯỢNG ĐÀO TẠO</h2>
						<p style="font-weight: 500;font-size: 20px;">Chúng tôi tự tin về chất lượng giảng dạy tiếng Anh tại Apollo. Học viên sẽ được học lại miễn phí trình độ nếu không vượt qua kì thi kiểm tra cuối khóa. Với điều kiện học viên đạt điểm chuyên cần theo yêu cầu, có thái độ học tập tích cực và tham dự bài thi cuối khoá đúng kì hạn.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="d-flex section-introduce__item px-8 py-10 mt-5">
					<div class="section-introduce__item-left pr-5">
						<span>5</span>
					</div>
					<div class="section-introduce__item-right">
						<h2 style="font-size: 30px;font-weight: bold;">HỆ THỐNG ĐÀO TẠO CÔNG DÂN TOÀN CẦU (AGLS)</h2>
						<p style="font-weight: 500;font-size: 20px;">Giảng dạy theo phương pháp LETS độc quyền và hiệu quả nhất hiện nay. Học viên sẽ học qua chủ đề, chứ không phải học thuộc lòng ý nghĩa của từ/cấu trúc. Nhờ vậy, học viên nhớ bài lâu hơn và tự tin hơn khi giao tiếp Tiếng Anh trên thực tế. Học viên cũng được học bộ kỹ năng 4Cs để thành công hơn trong tương lai.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="d-flex section-introduce__item px-8 py-10 mt-5">
					<div class="section-introduce__item-left pr-5">
						<span>6</span>
					</div>
					<div class="section-introduce__item-right">
						<h2 style="font-size: 30px;font-weight: bold;">CƠ SỞ VẬT CHẤT ĐẠT CHUẨN QUỐC TẾ</h2>
						<p style="font-weight: 500;font-size: 20px;">Chuyên gia quốc tế được mời để tham gia thiết kế lớp học theo tiêu chuẩn các nước tiên tiến và phù hợp với từng độ tuổi học viên nhằm tạo cảm hứng giao tiếp tiếng Anh 100%. Bảng tương tác thông minh IWB làm cho bài học thêm hấp dẫn, và giúp học viên tham gia vào bài học nhiều hơn, nhớ bài lâu hơn.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<app-footer></app-footer>