.a0{
	padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    margin-top: -76px;
}
.a1{
	background-color: #209ad6;
    padding: .9375rem 1.5625rem;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.25rem;
    border-radius: 6.25rem;
    border: #489ace;
    margin-top: 3.125rem;
    background-color: #489ace;
    color: #fff;
}
.section-introduce__item {
    background-color: rgba(16,153,216,.42);
    padding: 30px;
}
.section-introduce__item-left span {
    font-size: 72px;
    line-height: 56px;
    font-weight: 700;
    color: #fff;
}
.section-introduce__item-right h2 {
    color: #209ad6;
    font-size: 1.5rem;
}