<app-header></app-header>
<div>
	<div>
		<div>
			<img style="width: 100%;" src="../../../../assets/img/banner_1 (1).png" alt="">
		</div>
	</div>
</div>
<section class="section section-award" style="margin-top: 50px;">
    <div class="container">
        <div class="row no-gutters intro" style="margin-bottom: 50px;">
            <div class="col-lg-3 d-none d-lg-block image">
                <img src="../../../../assets/img/award.png" alt="Apollo Award" class="img-fluid">
            </div>
            <div class="col-lg-9 text-left content mb-lg-0 mb-6">
                <div class="row text-center">
                    <div class="col-11 mx-auto">
                        <h2 class="mt-lg-20 mt-6" style="font-weight: bold;">
                            APOLLO ENGLISH CHIẾN THẮNG GIẢI THƯỞNG QUỐC TẾ TỪ EDUCATIONINVESTOR ASIA AWARDS 2018
                        </h2>
                    </div>
                </div>
                <p class="my-4" style="margin-left: 20px;">
                    EducationInvestor Awards là giải thưởng uy tín bậc nhất về giáo dục tại Anh Quốc, được tổ chức
                    thường niên nhằm vinh danh các doanh nghiệp có đóng góp giáo dục nổi bật trên toàn thế giới.
                </p>
                <p class="my-4" style="margin-left: 20px;">
                    Với giải thưởng uy tín này, Apollo English tự hào khẳng định sự phát triển theo xu hướng quốc tế với
                    sứ mệnh đào tạo thế hệ trẻ Việt Nam trở thành những Công dân toàn cầu tương lai.
                </p>
                <a href="#" class="" style="margin-left: 20px;">Xem thêm chi tiết</a>
            </div>
        </div>
        <div class="row mt-md-4 des">
            <div class="col-md-4 mt-md-0 mt-2 text-center">
                <img src="../../../../assets/img/award_condition_1.png" alt="Apollo Award" class="img-fluid">
                <h3 class="text-center py-4" style="font-weight: bold;">NHỮNG TIÊU CHUẨN CHẤM GIẢI KHẮT KHE</h3>
                <p class="text-justify pb-4">
                    Để đủ điều kiện tham gia và đoạt giải, các đơn vị tham gia cần phải đáp ứng
                    những tiêu chí vô cùng khắt khe của ban tổ chức.
                </p>
<!--                <div class="row">-->
<!--                    <div class="col-6 mx-auto">-->
<!--                        <a href="" class="btn btn-primary">-->
<!--                            <span>Xem chi tiết</span>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <div class="col-md-4 mt-md-0 mt-2 text-center">
                <img src="../../../../assets/img/award_condition_2.png" alt="Apollo Award" class="img-fluid">
                <h3 class="text-center py-4" style="font-weight: bold;">BAN GIAM KHẢO &amp; ĐỐI THỦ QUỐC TẾ</h3>
                <p class="text-justify pb-4">Nhiều tổ chức giáo dục danh tiếng trong khu vực và trên thế giới đã lọt vào
                    danh sách ứng cử như: XSEED Education, UON Singapore, Study Group..</p>
<!--                <div class="row">-->
<!--                    <div class="col-6 mx-auto">-->
<!--                        <a href="" class="btn btn-primary">-->
<!--                            <span>Xem chi tiết</span>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <div class="col-md-4 mt-md-0 mt-2 text-center">
                <img src="../../../../assets/img/award_condition_3.png" alt="Apollo Award" class="img-fluid">
                <h3 class="text-center py-4" style="font-weight: bold;">YẾU TỐ QUYẾT ĐỊNH LÀM NÊN CHIẾN THẮNG</h3>
                <p class="text-justify pb-4">Ngoài chất lượng học tập tốt nhất, những yếu tố nào khác mang lại sự thành
                    công cho Apollo English tại EducationInvestor Asia Award 2018?</p>
<!--                <div class="row">-->
<!--                    <div class="col-6 mx-auto">-->
<!--                        <a href="" class="btn btn-primary">-->
<!--                            <span>Xem chi tiết</span>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
