<div class="card card-fixed-style cc" style="border-radius: 10px;">
    <img style="border-radius: 10px 10px 0 0;" [src]="productCard.imageUrl" class="card-img-top item">
    <div class="card-body card-body-text">
        <h6 class="card-name">{{ productCard.name }}</h6>
        <p class="card-author">{{ productCard.author }}</p>
        <p class="card-title">{{ productCard.description }}</p>
        <p class="card-text" style="font-size: 12px;">
            {{ productCard.price | currency:'VND':'symbol' }}</p>
    </div>
    <div>
        <a *ngIf="!addedToCard"class="btn" (click)="handleAddToCart()">Add to&nbsp;<i class='fa fa-cart-plus'></i></a>
        <a *ngIf="addedToCard" class="btn" >Đã thêm vào &nbsp;<i class='fa fa-cart-plus'></i></a>
    </div>
    <div>
        <button type="button" class="btn btn-success" (click)="viewProduct(productCard._id)">Xem thông tin</button>
    </div>
</div>
