<app-header></app-header>
<div>
	<div>
		<div>
			<img style="width: 100%;" src="../../../../assets/img/banner_1.png" alt="">
		</div>
	</div>
</div>
<section style="margin-top: 60px;margin-top: 60px;font-size: 18px;color: black; font-weight: 500;">
	<div class="container">
		<div class="row">
			<p class="text-center" >Apollo English phối hợp cùng đối tác chiến lược National Geographic Learning giới thiệu HỆ THỐNG ĐÀO TẠO CÔNG DÂN TOÀN CẦU – AGLS độc quyền, tiên tiến nhất theo tiêu chuẩn quốc tế. Đây là những nỗ lực từ đội ngũ chuyên gia Apollo English để mang đến chất lượng giáo dục tốt nhất trong lộ trình đào tạo các học viên trở thành Công dân toàn cầu.</p>
		</div>
	</div>
</section>
<section style="margin-top: 50px;">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 text-center">
				<i class="fa fa-edit fa-4x"></i>
				<h3 style="color: #209ad6; font-weight: bold;">TIẾNG ANH THÔNG THẠO</h3>
				<ul class="text-left" style="color: black; font-weight: 500;">
					<li>Đội ngũ giáo viên giàu kinh nghiệm và chuyên môn.</li>
					<li>Giáo trình cải cách theo xu hướng giáo dục tiếng Anh cho trẻ em hiện đại.</li>
					<li>Phương pháp học phù hợp định hướng đào tạo công dân toàn cầu</li>
				</ul>
			</div>
			<div class="col-sm-4 text-center">
				<i class="fa fa-globe fa-4x"></i>
				<h3 style="color: #209ad6; font-weight: bold;">KỸ NĂNG VƯỢT TRỘI</h3>
				<ul class="text-left"style="color: black; font-weight: 500;">
					<li>Học viên được khuyến khích bày tỏ quan điểm cá nhân</li>
					<li>Hoạt động ngoại khoá thú vị bổ trợ nhiều kỹ năng cần thiết</li>
					<li>Học viên còn tiếp thu thêm nhiều kiến thức thực tiễn</li>
				</ul>
			</div>
			<div class="col-sm-4 text-center">
				<i class="fa fa-users fa-4x"></i>
				<h3 style="color: #209ad6; font-weight: bold;">TƯƠNG LAI TOÀN CẦU</h3>
				<ul class="text-left" style="color: black; font-weight: 500;">
					<li>Tự tin chinh phục các kỳ thi mang tầm quốc tế như Cambridge, IELTS</li>
					<li>Tự tin ngôn ngữ, sẽ tự tin giao tiếp, thành công cho tương lai</li>
					<li>Tự tin chinh phục và thích ứng với bất cứ môi trường nào trên thế giới</li>
				</ul>
			</div>
		
		</div>
	</div>
</section>
<section style="margin-bottom: 50px;">
	<div class="container">
		<h2 class="section__header text-center mb-4" style="color: #209ad6; font-weight: 500;margin-top: 70px;">LỘ TRÌNH THÔNG THẠO ANH NGỮ</h2>
		<p class="text-center" style="color: black; font-weight: 500;margin-bottom: 40px;">Apollo xây dựng lộ trình học tiếng Anh phù hợp với từng độ tuổi và tuân theo các tiêu chuẩn quốc tế (chuẩn Cambridge và CEFR). Học viên sẽ từng bước làm quen, tích luỹ và sử dụng Tiếng Anh thành thạo, tự tin để trở thành công dân toàn cầu.</p>
		<div class="row d-flex align-items-center">
			<div class="col-12 text-center">
				<img src="../../../../assets/img/chart.jpg" alt="">
			</div>
		</div>
	</div>
</section>
<section class="section-facility py-10 px-lg-20" style="color: #fff;">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="text-center mb-4" style="padding-top: 30px; font-weight: bold;">Cơ sở vật chất tiêu chuẩn quốc tế</h2>
				<p class="text-center" style="font-size: 18px;font-weight: 500;">Các chuyên gia quốc tế hàng đầu thiết kế cơ sở vật chất tại Apollo theo tiêu chuẩn của các nước tiên tiến, đảm bảo môi trường lý tưởng đến việc học Tiếng Anh cho bé và các kỹ năng sống. Từ khi bước chân vào sảnh chính Apollo cho đến lúc vào lớp học, học viên luôn ở trong ‘môi trường Tiếng Anh 100%’.</p>
				<p class="text-center"  style="font-size: 18px;font-weight: 500;">Phòng học được trang bị bảng tương tác IWB hiện đại với chức năng chống loá, không những bảo vệ mắt tối đa mà còn giúp bài học trực quan và thú vị hơn, để học viên hiểu bài tốt hơn, nhớ bài lâu hơn. Bàn ghế linh hoạt, dễ dàng dịch chuyển, sắp xếp phù hợp với các hoạt động thảo luận và dự án theo nhóm. Các bức tường cũng được trang trí sinh động, tạo cảm hứng học tập.</p>
				<p class="text-center"  style="font-size: 18px;font-weight: 500;padding-bottom: 40px;">Ngoài các học liệu trên lớp, học viên còn có nguồn tài liệu không giới hạn trên thư viện trực tuyến để có thể học mọi lúc, mọi nơi .</p>
			</div>
		</div>
	</div>
</section>

<app-footer></app-footer>
